___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [903]:
def lesser_of_two_evens(a,b):
    remainder_a = a%2
    remainder_b = b%2
    if remainder_a == 1 or remainder_b == 1:
        if a < b:
            return b
        return a

    if a < b:
        return a
    return b

In [904]:
# Check
lesser_of_two_evens(2,4)

2

In [905]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [906]:
def animal_crackers(text: str) -> bool:
    words = text.split(' ')
    if len(words) != 2:
        return False
    
    return words[0][0] == words[1][0]

In [907]:
# Check
animal_crackers('Levelheaded Llama')

True

In [908]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [909]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [910]:
# Check
makes_twenty(20,10)

True

In [911]:
# Check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [912]:
def old_macdonald(name):
    name_list = list(name)
    if len(name_list) < 4:
        return ValueError('Invalid Input') 

    name_list[0] = name_list[0].upper()
    name_list[3] = name_list[3].upper()

    return ''.join(name_list)

In [913]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [914]:
def master_yoda(text):
   words = text.split(' ')
   words.reverse()
   return ' '.join(words)

In [915]:
# Check
master_yoda('I am home')

'home am I'

In [916]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [917]:
def almost_there(n):
    if abs(100 - n) <= 10 or abs(200 - n) <= 10:
        return True
    return False

In [918]:
# Check
almost_there(104)

True

In [919]:
# Check
almost_there(150)

False

In [920]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [921]:
def has_33(nums):
    last_val_3 = False
    for num in nums:
        if num == 3 and last_val_3 == True:
            return True
        elif num == 3:
            last_val_3 = True
        else:
            last_val_3 = False
    return False

In [922]:
# Check
has_33([1, 3, 3])

True

In [923]:
# Check
has_33([1, 3, 1, 3])

False

In [924]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [925]:
def paper_doll(text):
    pass

In [926]:
# Check
paper_doll('Hello')

In [927]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [928]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum <= 21:
        return sum
    elif sum > 21 and (a == 11 or b == 11 or c == 11):
        sum -= 10
        return sum
    else:
        return 'BUST'

In [929]:
# Check
blackjack(5,6,7)

18

In [930]:
# Check
blackjack(9,9,9)

'BUST'

In [931]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [932]:
def summer_69(arr):
    encountered_6 = False
    sum = 0

    for num in arr:
        if num == 6:
            encountered_6 = True
        
        if num == 9 and encountered_6 == True:
            encountered_6 = False
            continue;
        
        if encountered_6 == False:
            sum += num

    return sum

In [933]:
# Check
summer_69([1, 3, 5])

9

In [934]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [935]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [936]:
def spy_game(nums):
    pass

In [937]:
# Check
spy_game([1,2,4,0,0,7,5])

In [938]:
# Check
spy_game([1,0,2,4,0,5,7])

In [939]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [940]:
def count_primes(num):
    pass

In [941]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [942]:
def print_big(letter):
    pass

In [943]:
print_big('a')

## Great Job!